<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand"
       href="{{ path('index') }}">
        ActuNews
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-link" href="{{ path('default_category', {'alias' : 'politique'})}}">Politique</a>
            <a class="nav-link" href="{{ path('default_category', {'alias' : 'economie'})}}">Economie</a>
            <a class="nav-link" href="{{ path('default_category', {'alias' : 'social'})}}">Social</a>
            <a class="nav-link" href="{{ path('default_category', {'alias' : 'santé'})}}">Santé</a>
            <a class="nav-link" href="{{ path('default_category', {'alias' : 'culture'})}}">Culture</a>
            <a class="nav-link" href="{{ path('default_category', {'alias' : 'sports'})}}">Sports</a>
            <a class="nav-link" href="{{ path('default_category', {'alias' : 'losirs'})}}">Loisirs</a>


        {% if is_granted('IS_AUTHENTICATED_FULLY') %}

        {% if is_granted('ROLE_JOURNALIST') %}
           <a class="nav-link" href="{{ path('post_create') }}">Créer un article</a>
           {% endif %}
          <a class="nav-link" href="{{ path('app_logout')}}">Deconnexion</a>
          {% else %}
          <a class="nav-link" href="{{ path('user_create')}}">Inscription</a>
          <a class="nav-link" href="{{ path('app_login')}}">Connexion</a>
          {%  endif %}
        </div>
    </div>
</nav>
